<link rel="stylesheet" href="/css/about.css" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
<body>
<h1>ABOUT US</h1>
    <div>
    <p>THE SKIRMISH INTERROGATION is a web application created by us for hosting MARVELous quizes</p>
    <ul>
        <li>You can test yourself with the questions and see if you are a true Marvel fan</li><br>
        <li>You may sign up to save your data (and scores in the future) and can login or logout accordingly</li><br>
        <li>We plan to allow players to participate as a team and check users' scores on the leaderboard</li><br>
        <li>Feel free to contact us. We'd appreciate your reviews/suggestions</li>
    </ul>
    <button class="home"><a href="/home">Home</a></button>
</div>
</body>