
	<link rel="stylesheet" type="text/css" href="/css/contact.css">

<body>
	<header>
		<h1>Contact Us</h1>
	</header>
		<div class="container">
		<h3>emails:</h3>
		<div>riya_j@me.iitr.ac.in,</div>
	   <div>yukta_a@me.iitr.ac.in</div>

	</div>
	<button class="home"><a class="aHome"href="/home">Home</a></button>
	
</body>
