
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">


<div class="container">
    <header>
        <nav class="navbar">
            <div class="nav"></div>
            <ul class="nav">
                <li><a href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                
            </ul>
            <div class="nav">
            <button><a href="/register">Sign up</a></button>
            <button><a href="/login">Login</a></button>
            
                
        
        </div>
        </nav>
        <div class="mainText">
            <p class="Text">
                THE SKIRMISH INTERROGATION 
            </p>

        </div>
    </header>
        
    
    
</div>
<body>
    
</body>
</html>