
    <link rel="stylesheet" href="/css/register.css">
  
    <header>
        <div class="container">
          <p class="animated">Login</p>
        </div>
        <form method="post" action="/login">
          <input type="text" id="username" name="username"
            placeholder="Enter your username "
          >
          <input type="password" name="password" id="password"
            placeholder="Enter a password"
          />
          <button type="submit" id="Submit" class="submit">Log In</button>
      <div class="signin">
        <p>Don't have an Account?</p>
        <a href="/register">Register</a>
      
          
          </div>
        </form>
        <div class="backhome">
          <button class="home"><a href="/home">Home</a></button>
        </div>
      </header>